<div class="row">
	<div class="col-md-12">
			<%= search_form_for @q , url: hotel_lists_url, builder: SimpleForm::FormBuilder do |f| %>
		    <div class='row'>

		      <div class="col-md-4">
		      	<div class="form-group">
		          <%= f.input :name_cont , label: false, placeholder: "Hotel Name" %>
		        </div>
		      </div>


		      <div class="col-md-4">
		        <div class="form-group">
		          <%= f.input :location_cont , label: false, placeholder: "Hotel Location" %>
		        </div>
		      </div>

		      <div class="col-md-2">
		        <div class="form-group">
		          <%= f.input :price_gteq , label: false, placeholder: "Initial Price" %>
		        </div>
		      </div>

		      <div class="col-md-2">
		        <div class="form-group">
		          <%= f.input :price_lteq , label: false, placeholder: "Final Price" %>
		        </div>
		      </div>

		      <div class="col-md-6">
		      	<div class="form-group">
			      		<% Facility.select(:name).all.group(:name).each do |facility| %>
						     <%= check_box_tag('q[facilities_name_cont_any][]', facility.name ) %>
						     <%= facility.name %>
		      		<% end %>
		      	</div>
		      </div>

		    </div>

		    <hr />
			  <%= f.submit 'Search' %>
			  <br />
			  <br />
			<% end %>
	</div>
</div>
	<% @hotels.each do |hotel| %>
		<div class="row">
			<div class="col-md-12">
				<div class="item-listing">
					<div class="item-container">
						<h2 class="item-title"><a href="room.html"><%= hotel.name%></a></h2>
						<h5 class="item-from"><%= hotel.price %></h5>
						<hr />
						<h3>Facilities</h3>
						<ul>
							<% hotel.facilities.each do |facility| %>
							<li>
								<%= facility.name %>
							</li>
							<% end %>
						</ul>
						<a href="#" class="button">Book</a>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>